@model FCStore.Models.OrderVM
@using FCStore.Models;
@using FCStore.Common;

@{
    ViewBag.Title = "Cart";
}

<div id="CartDiv">
    <div class="flow">
        <div class="sel">
            1.填写订单
        </div>
        <div>
            2.确认支付
        </div>
        <div>
            3.付款成功
        </div>
        <div>
            4.评价
        </div>
    </div>
    <div class="order">
        <h2>订单列表</h2>
        <ul>
            <li class="li0 title"></li>
            <li class="li1 title">商品图片</li>
            <li class="li2 title">商品名称</li>
            <li class="li3 title">商品价格</li>
            <li class="li4 title">数量</li>
            <li class="li5 title">优惠</li>
            <li class="li6 title">小计</li>
            @if (Model.OrderArr.Count() > 0)
            {
                int Count = 0;
                decimal Amount = 0;
                foreach (var item in Model.OrderArr.First().Packets)
                {
                    Count += item.Count;
                    Amount += item.PayAmount;
                    Product product = item.Product;
                    <li class="li0"><input type="checkbox" /></li>
                    <li class="li1"><img class="show" src="@(product.ImgPathArr[0])" /></li>
                    <li class="li2"><a href="/Product/Detail/@(product.PID)">@(product.Title)</a></li>
                    <li class="li3">@(PubFunction.CHPriceFormat(item.PayUnivalence))</li>
                    <li class="li4">
                        @(item.Count)
                    </li>
                    <li class="li5">@(PubFunction.CHPriceFormat(item.PayUnivalence - item.Univalence))</li>
                    <li class="li6">@(PubFunction.CHPriceFormat(item.PayAmount))</li>
                }
                <li class="li0"><label><input type="checkbox" />全选</label></li>
                <li class="li11">
                    <a>删除所选</a>
                    <a>收藏所选</a>
                </li>
                <li class="li21"><label>共计<label class="count">@(Count)</label>件商品，合计金额：<label class="amount">@(PubFunction.CHPriceFormat(Amount))</label></label></li>
            }
            else
            {
                <li class="p1">订单不存在</li>
            }
            <div class="pullupDiv"></div>
        </ul>
    </div>
    <div class="addresses">
        <h2>收货地址</h2>
        @for (int i = 0; i < Model.Client.Addresses.Count;i++ )
        {
            Address addr = Model.Client.Addresses[i];
            <div class="item @(Model.Client.DefaultAddrIndex == i ? "sel" : "")">
                <div class="name">
                    @(Model.Client.UserName)收
                </div>
                <div class="addressStr">
                    @(addr.FullAddress)
                </div>
            </div>
        }
        <div class="item add">
        </div>
    </div>
</div>