@model FCStore.Models.Area

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Area</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Countrycode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Countrycode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CountryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CountryName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProvinceName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProvinceName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CityName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CityName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CountyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CountyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Postcode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Postcode)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
