@model FCStore.Models.Area

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Area</legend>

        @Html.HiddenFor(model => model.AID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Countrycode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Countrycode)
            @Html.ValidationMessageFor(model => model.Countrycode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CountryName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CountryName)
            @Html.ValidationMessageFor(model => model.CountryName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProvinceName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProvinceName)
            @Html.ValidationMessageFor(model => model.ProvinceName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CityName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CityName)
            @Html.ValidationMessageFor(model => model.CityName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CountyName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CountyName)
            @Html.ValidationMessageFor(model => model.CountyName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Postcode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Postcode)
            @Html.ValidationMessageFor(model => model.Postcode)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
