@model FCStore.Models.OrderPacket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>OrderPacket</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Product.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Product.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Count)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Count)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Discount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Discount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Univalence)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Univalence)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PayUnivalence)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PayUnivalence)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PayAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PayAmount)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PacketID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
