@model IEnumerable<FCStore.Models.OrderPacket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Univalence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayUnivalence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Univalence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayUnivalence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PacketID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PacketID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PacketID })
        </td>
    </tr>
}

</table>
