@using System.Text;
@using System.Text.RegularExpressions;
@using FCStore.Common;
@using FCStore.Models;
@using FCStore.Controllers;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div id="Brands">
            <ul>
                <li class="FCIcon">
                    <div class="icon">
                        <img src="/Brand/FC.jpg" alt="FC Icon" />
                    </div>
                    <div class="name cut">
                        FC Store
                    </div>
                </li>
                @{Html.RenderAction("_BrandList", "Brand");}
            </ul>
            <div class="pullupDiv"></div>
        </div>
        <div id="Toolbar">
            <label class="title">搜索：</label>
            <input type="text" />
            <div id="userArea">
                @if (Session["User"] != null)
                {
                    <div>
                        登陆成功
                    </div>
                }
                else
                {
                    if(User.Identity.IsAuthenticated)
                    {
                        <label class="title">欢迎<a href="/User/Details">@(User.Identity.Name)</a>光临RightGO美国代购网！</label>
                        <a href="/User/Exit">退出</a>
                    }
                    else
                    {
                        string tmpStr = Convert.ToBase64String(Encoding.UTF8.GetBytes(HttpContext.Current.Request.Url.AbsoluteUri));
                        <a href="/Home/Login/@(tmpStr)">
                            请登陆
                        </a>
                        <label> | </label>
                        <a href="/Home/Register/@(tmpStr)">
                            免费注册
                        </a>
                    }
                }
            </div>
        </div>
    </header>
    <div id="Main">
        <div id="Center">
            @RenderBody()
        </div>
    </div>
    <nav id="Categorys">
        @{Html.RenderAction("_CategoryList", "Category");}
    </nav>
    <div id="TopBtn" onclick="MainLayout.onTopBtnClick(this);">
        <div class="title">回到顶部</div>
    </div>
    <div id="Contact">
    </div>
    <div id="Favorite">
    </div>
    @{
        bool showCart = true;
        showCart = Request.Url.AbsolutePath.IndexOf("/Order/Cart") > -1;
    }
    <div id="Cart" style="@(showCart ? "visibility:hidden" : "")" >
        <div class="relativeDiv">
            <div id="plInCar">
                @{
                    //获得cookie
                    if (Request.Cookies.AllKeys.Contains("Order"))
                    {
                        Regex cookieRgx = new Regex(FCStore.Controllers.ProductController.ORDERCOOKIERGX);
                        Match tmpMatch = cookieRgx.Match(Server.UrlDecode(Request.Cookies["Order"].Value));
                        if(!string.IsNullOrEmpty(tmpMatch.Value))
                        {
                            for (int i = 0; i < tmpMatch.Groups["TITLE"].Captures.Count;i++ )
                            {
                                int BuyCount = 1;
                                int.TryParse(tmpMatch.Groups["COUNT"].Captures[i].Value, out BuyCount);
                                <div class="MoveItem">
                                    <div class="countShow" style="display:@(BuyCount > 1 ? "normal" : "none")">@(BuyCount)</div>
                                    <div class="deleteBtn" onclick="MainLayout.onDeleteCarItem(this)">X</div>
                                    <img src="@(tmpMatch.Groups["IMG"].Captures[i].Value)" />
                                    <label>
                                        @(tmpMatch.Groups["TITLE"].Captures[i].Value)
                                    </label>
                                </div>
                            }
                        }
                    }
                    else if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        //获得当前用户未处理的订单
                        MyUser user = HttpContext.Current.User as MyUser;
                        FCStoreDbContext db = new FCStoreDbContext();
                        Order order = db.Orders.OrderByDescending(r=>r.OID).FirstOrDefault(r => r.UID == user.UID && r.Status == (int)Order.EOrderStatus.OS_Init);
                        if (order != null && order.Packets != null)
                        {
                            foreach (OrderPacket tmpOP in order.Packets)
                            {
                                <div class="MoveItem">
                                    <div class="countShow" style="display:@(tmpOP.Count > 1 ? "normal" : "none")">@(tmpOP.Count)</div>
                                    <div class="deleteBtn" onclick="MainLayout.onDeleteCarItem(this)">X</div>
                                    <img src="@(tmpOP.Product.ImgPathArr[0])" />
                                    <label>
                                        @(tmpOP.Product.Title)
                                    </label>
                                </div>
                            }
                        }
                        db.Dispose();
                    }
                }
            </div>
            <a class="balance" href="/Order/Cart"></a>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)

    <footer>

    </footer>
</body>
</html>
