<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div id="Brands">
            <ul>
                <li class="FCIcon">
                    <div class="icon">
                        <img src="/Brand/FC.jpg" alt="FC Icon" />
                    </div>
                    <div class="name cut">
                        FC Store
                    </div>
                </li>
                @{Html.RenderAction("_BrandList", "Brand");}
            </ul>
            <div class="pullupDiv"></div>
        </div>
        <div id="Toolbar">
            <label class="title">搜索：</label>
            <input type="text" />
            <div id="userArea">
                @if (Session["User"] != null)
                {
                    <div>
                        登陆成功
                    </div>
                }
                else
                {
                    if(User.Identity.IsAuthenticated)
                    {
                        <label class="title">欢迎<a href="/User/Details">@(User.Identity.Name)</a>光临RightGO美国代购网！</label>
                        <a href="/User/Exit">退出</a>
                    }
                    else
                    {
                        string tmpStr = Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(HttpContext.Current.Request.Url.AbsoluteUri));
                        <a href="/Home/Login/@(tmpStr)">
                            请登陆
                        </a>
                        <label> | </label>
                        <a href="/Home/Register/@(tmpStr)">
                            免费注册
                        </a>
                    }
                }
            </div>
        </div>
    </header>
    <div id="Main">
        <div id="Center">
            @RenderBody()
        </div>
    </div>
    <nav id="Categorys">
        @{Html.RenderAction("_CategoryList", "Category");}
    </nav>
    <div id="TopBtn" onclick="MainLayout.onTopBtnClick(this);">
        <div class="title">回到顶部</div>
    </div>
    <div id="Contact">
    </div>
    <div id="Favorite">
    </div>
    <div id="Cart">
        <div class="relativeDiv">
            <div id="plInCar">
                @{
                    //获得cookie
                    if(Request.Cookies.AllKeys.Contains("Order"))
                    {

                        FCStore.Models.Order order = Newtonsoft.Json.JsonConvert.DeserializeObject<FCStore.Models.Order>(Request.Cookies["Order"].Value);
                        foreach(FCStore.Models.OrderPacket packet in order.Packets)
                        {
                            if (packet.Product != null) 
                            { 
                                <div class="MoveItem">
                                    <label>
                                        @(packet.Product.Title)
                                    </label>
                                    <img src="@(packet.Product.ImgPath)" />
                                </div>
                            }
                        }
                    }
                }
            </div>
            <a class="balance">结算</a>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)

    <footer>

    </footer>
</body>
</html>
