@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ManageLayout</title>    
    @Styles.Render("~/Manager/css")
    @Styles.Render("~/UploadFile/css")
</head>
<body>
    <div class="top">

    </div>
    <div id="ManagerMain">
        <div class="left">
            <ul class="navigator">
                <li><a href="/Manager/BannerManager">Banner管理</a></li>
                <li><a href="/Manager/ColumnManager">首页项目管理</a></li>
                <li><a href="/Manager/CategoryManager">商品类别管理</a></li>
                <li><a href="/Manager/BrandManager ">商品品牌管理</a></li>
                <li><a href="/Manager/ProductManager">商品管理</a></li>
            </ul>
        </div>
        <div class="right">
            @RenderBody()
        </div>
    </div> 
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Manager/js")
    @Scripts.Render("~/UploadFile/js")
</body>
</html>
