@model IEnumerable<FCStore.Models.Column>
@using FCStore.Models;
@using FCStore.Common;
@section scripts{
    <script type="text/javascript" charset="utf-8">
        $(function () {
            //$("#Center .productFI").lazyload({
            //    placeholder: "/Content/themes/image/ColumBlank.jpg"
            //});
            $('#bannerDiv').bannerize({
                shuffle: 1,
                interval: "5"
            });
        });
    </script>
}
@{
    int CIndex = 0;
}
@foreach (var item in Model)
{
    <div class="MainBlock MBStyle@(CIndex)">
        <div class="left">
            <div class="LTConerDiv">
                <div class="coner"></div>
                <div class="leftBKDiv"></div>
            </div>
            <div class="LContent">
                <div class="subTitle">
                    @(item.SubDescribe)
                </div>
                <div class="title">
                    @(item.Describe)
                </div>
                <div class="line1">

                </div>
                <div class="line2">

                </div>
            </div>
            <div class="LBConerDiv">
                <div class="coner"></div>
                <div class="leftBKDiv"></div>
            </div>
        </div>
        <div class="center">
            <div class="brandDiv">
                <div class="description">
                    <div class="middle">
                        @{
                            string tmpSpace = "";
                            foreach (string tmpStr in item.TopTitleArr)
                            {
                                tmpSpace += "&nbsp;&nbsp;&nbsp;&nbsp;";
                                HtmlString html = new HtmlString(tmpSpace);
                                        <div>@html@(tmpStr)</div>
                            }
                        }
                    </div>
                </div>
                <div class="brand">
                    @{
                        int bi=0;
                        for (bi = 0; bi < item.Brands.Count; bi++)
                        {
                            Brand brand = item.Brands[bi];
                            <div>
                                <a href="Product/ListByBrand/@(brand.BID)">
                                    <img src="/Brand/@(brand.Tag).jpg" />
                                </a>
                            </div>
                        }
                        if (bi < 4)
                        {
                            List<Brand> tmpBArr = (from p in item.Products
                                                   select p.Brand).Take(4 - bi).ToList();
                            for (int i = 0; i < tmpBArr.Count; i++)
                            {
                                Brand brand = tmpBArr[i];
                                <div>
                                    <a href="Product/ListByBrand/@(brand.BID)">
                                        <img src="/Brand/@(brand.Tag).jpg" />
                                    </a>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
            <ul>
                @for (int i = 0; i < item.Products.Count; i++)
                {
                    Product product = item.Products[i];
                    <li class="productItem p4">
                        <a href="\Product\Detail\@(product.PID)">
                            <div>
                                <img class="thum" src="@(product.ImgPathArr.First())" />
                            </div>
                            <div class="description">
                                @(product.Title)
                            </div>
                            <div>
                                <div class="marketPrice">@(PubFunction.CHPriceFormat(product.MarketPrice))</div>
                                <div class="price">
                                    @(PubFunction.CHPriceFormat(product.Price))
                                    <div class="buy">

                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    ++CIndex;
    CIndex %= 6; 
}