@model IEnumerable<FCStore.Models.Column>
@using FCStore.Models;
@using FCStore.Common;
@section scripts{
    <script type="text/javascript" charset="utf-8">
        $(function () {
            //$("#Center .productFI").lazyload({
            //    placeholder: "/Content/themes/image/ColumBlank.jpg"
            //});
            $('#bannerDiv').bannerize({
                shuffle: 1,
                interval: "5"
            });
        });
    </script>
}
@foreach (var item in Model)
{
    <div class="MainBlock">
        <div class="left">
            <div class="LTConerDiv">
                <div class="coner"></div>
                <div class="leftBKDiv"></div>
            </div>
            <div class="LContent">
                <div class="subTitle">
                    @(item.SubDescribe)
                </div>
                <div class="title">
                    @(item.Describe)
                </div>
                <div class="line1">

                </div>
                <div class="line2">

                </div>
            </div>
            <div class="LBConerDiv">
                <div class="coner"></div>
                <div class="leftBKDiv"></div>
            </div>
        </div>
        <div class="center">
            <div class="brandDiv">
                <div class="description">
                    @(item.TopTitle)
                </div>
            </div>
            <ul>
                @for (int i = 0; i < item.Products.Count; i++)
                {
                    Product product = item.Products[i];
                    <li class="productItem p4">
                        <a href="\Product\Detail\@(product.PID)">
                            <div>
                                <img class="thum" src="@(product.ImgPathArr.First())" />
                            </div>
                            <div class="description">
                                @(product.Title)
                            </div>
                            <div>
                                <div class="marketPrice">@(PubFunction.CHPriceFormat(product.MarketPrice))</div>
                                <div class="price">
                                    @(PubFunction.CHPriceFormat(product.Price))
                                    <div class="buy">

                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
}