@model IEnumerable<FCStore.Models.Column>
@using FCStore.Models;
@using FCStore.Common;

@section scripts{    
    <script type="text/javascript" charset="utf-8">
        //$(function () {
        //    $("#Center .productFI").lazyload({
        //        placeholder: "/Content/themes/image/ColumBlank.jpg"
        //    });
        //});
    </script>
}
<div id="bannerDiv">
    <ul>
        <li class="left">
            <script type="text/javascript" charset="utf-8">
                document.getElementById("Categorys").style.top = "190px";
                document.getElementById("Categorys").style.left = (document.body.clientWidth - document.getElementById("Center").clientWidth) / 2 + "px";
            </script>
        </li>
        <li class="right">
            <div class="mainBanner">
                <img alt="主" />
            </div>
            <div class="subBanner">
                <img alt="母婴专区" />
            </div>
            <div class="subBanner mid">
                <img alt="汽车专区" />
            </div>
            <div class="subBanner">
                <img alt="美容保健" />
            </div>
        </li>
    </ul>
</div>
@{
    string niStr = "";
    niStr += ";限时抢购;";
    var sitem = Model.FirstOrDefault(r => r.Describe.CompareTo("限时抢购") == 0);
    if (sitem != null && sitem.Products != null && sitem.Products.Count > 0)
    {
        //包含限时抢购
        <div class="MainBlock" id="discountInTime">
            <div class="left">
                <div class="subTitle">
                    正品+ 便宜
                </div>
                <div class="title">
                    限时抢购
                </div>
            </div>
            <div class="center">
                <div class="title">
                    <div>极速到货，免运费</div>
                    <a>更多</a>
                </div>
                <ul>
                    @for(int i=0;i<Math.Min(sitem.Products.Count,4);i++)
                    {
                        Product product = sitem.Products[i];
                        <li class="productItem">
                            <div>
                                <img class="thum" src="@(product.ImgPathArr.First())" />
                            </div>
                            <div class="description" >
                                @(product.Title)
                            </div>
                            <div>
                                <div class="marketPrice">@(PubFunction.CHPriceFormat(product.MarketPrice))</div>
                                <div class="price">@(PubFunction.CHPriceFormat(product.Price))</div>
                            </div>
                            <div>
                                <a></a>
                            </div>
                            <div class="textLeft">
                                剩余时间
                            </div>
                            <div>

                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="pullupDiv"></div>
        </div>
    }
    niStr += ";新品上市;";
    sitem = Model.FirstOrDefault(r => r.Describe.CompareTo("新品上市") == 0);
    if (sitem != null && sitem.Products != null && sitem.Products.Count > 0)
    {
        //包含新品上市
        <div class="MainBlock biMB" id="discountInTime">
            <div class="left">
                <div class="title">
                    新品上市
                </div>
            </div>
            <div class="center">
                <div class="brandDiv">
                    @{
                        int m = 0;
                        for (m = 0; m < Math.Min(sitem.Brands.Count, 4); m++)
                        {
                            <div class="brandItem">
                                <img src="/Brand/@(sitem.Brands[m].Tag).jpg" />
                            </div>
                        }
                        Product proItem = sitem.Products.First();
                    }
                </div>
                <ul>
                    <li class="productItem bigPI">
                        <div>
                            <img class="thum" src="@(proItem.ImgPathArr.First())" />
                        </div>
                        <div class="description">
                            @(sitem.Products.First().Title)
                        </div>
                        <div>
                            <div class="marketPrice">@(PubFunction.CHPriceFormat(proItem.MarketPrice))</div>
                            <div class="price">@(PubFunction.CHPriceFormat(proItem.Price))</div>
                        </div>
                        <div>
                            <a></a>
                        </div>
                    </li>
                    @for(int i=1;i<Math.Min(sitem.Products.Count,5);i++)
                    {
                        Product product = sitem.Products[i];
                        <li class="productItem">
                            <div>
                                <img class="thum" src="@(product.ImgPathArr.First())" />
                            </div>
                            <div class="description" >
                                @(product.Title)
                            </div>
                            <div>
                                <div class="marketPrice">@(PubFunction.CHPriceFormat(product.MarketPrice))</div>
                                <div class="price">@(PubFunction.CHPriceFormat(product.Price))</div>
                            </div>
                            <div>
                                <a></a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="pullupDiv"></div>
        </div>
    }
    niStr += ";团购优惠;";
    sitem = Model.FirstOrDefault(r => r.Describe.CompareTo("团购优惠") == 0);
    if (sitem != null && sitem.Products != null && sitem.Products.Count > 0)
    {
        //包含团购优惠
        <div>

        </div>
    }
}

@foreach (var item in Model)
{
    bool tag = item.Products != null && item.Products.Count > 0;
    <div class="MainBlock">
        <div class="title">
            <div class="title">

            </div>
        </div>
        <div class="content">
            <div class="top">

            </div>
            <div class="bottom">

            </div>
        </div>
        <div class="pullupDiv"></div>
    </div>
}