@model IEnumerable<FCStore.Models.Column>

@section scripts{    
    <script type="text/javascript" charset="utf-8">
        $(function () {
            $("#Center .productFI").lazyload({
                placeholder: "/Content/themes/image/ColumBlank.jpg"
            });
        });
    </script>
}

@foreach (var item in Model)
{
    bool tag = item.Products != null && item.Products.Count > 0;
    <div class="MainBlock">
        <div class="top">
            <label class="name">@(item.Describe)</label>
            <label class="more">
                <a>更多...</a>
            </label>
            @{
            int j = 0;
            for (j = 0; j < Math.Min(3, item.Brands.Count); j++)
            {
                FCStore.Models.Brand brand = item.Brands[j];
                <label class="brand" data-meopt="3">
                    <a href="/Brand/ProductList/@(brand.BID)">
                        @(brand.NameStr)
                    </a>
                </label>
            }
            if (j < 3)
            {
                List<FCStore.Models.Brand> brandList = (from pro in item.Products
                                                        where pro.Brand.NameStr != "其他"
                                                        select pro.Brand).Distinct().ToList();
                for (; j < Math.Min(3, brandList.Count); j++)
                {
                    FCStore.Models.Brand brand = brandList[j];
                        <label class="brand">
                            <a href="/Brand/ProductList/@(brand.BID)">
                                @(brand.NameStr)
                            </a>
                        </label>
                    }
                }
            }
            <label class ="pinpai">品牌：</label>
            <div class="pullupDiv"></div>
        </div>
        <div class="show">
            @{
                for (int i = 0; i < Math.Min(item.Products.Count, 10); i++)
                {
                    FCStore.Models.Product product = item.Products[i];
                    <div class="item">
                        <a href="/Product/Detail/@(product.PID)">
                            <div class="price">
                                <label class="mpLB">￥@(product.MarketPrice)</label><br />
                                <label class="pLB">￥@(product.Price)</label>
                            </div>
                            <div>
                                <img class="productFI" src="/Content/themes/image/ColumBlank.jpg " data-original="@(product.ImgPathArr[0])" />
                            </div>
                            <div class="title">
                                @(product.Title)
                            </div>
                        </a>
                    </div>
                }
                <div class="pullupDiv"></div>
            }
        </div>
        <div class="bottom"></div>
    </div>
}