@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPage</title>
    @Styles.Render("~/Content/loginPage")
</head>
<body>
    <div id="centerDiv">
        <div id="loginDiv" style="@(User.Identity.IsAuthenticated ? "display:none" : "")">
            <div class="ltTitle">用户登陆</div>
            <form class="ele">
                <div class="title">
                    <label>用户名：</label>
                </div>
                <div class="content">
                    <input id="UIDTB" class="enterTB required" type="text" />
                </div>
                <div class="title">
                    <label>密码：</label>
                </div>
                <div class="content">
                    <input id="PSWTB" class="enterTB" type="password" />
                </div>
                <div class="title">
                    <label>验证码：</label>
                </div>
                <div class="content ccDiv1">
                    <input id="checkCodeTB" class="enterTB" type="text" />
                </div>
                <div class="content ccDiv2">
                    <img onclick="LoginPageView.login.OnCheckCodeImgClick()" id="ccImg" src="/Home/GetValidateCode" />
                </div>
                <div class="content">
                    <input onclick="LoginPageView.login.OnLoginBtnClick()" id="loginBtn" type="button" value="登陆" />
                </div>
            </form>
            <div class="rightDiv">
                <div class="register">
                    <label class="tFont">还不是RightGO会员吗？立刻成为会员，即享100积分</label>                    
                    @{
                        string urlStr = string.IsNullOrEmpty(ViewBag.returnUrl) ? "http://" + HttpContext.Current.Request.Url.Authority + "/Home/Index" : ViewBag.returnUrl;
                    }
                    <a id="registerBtn" href="/Home/Register/@(Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(urlStr)))">免费注册</a>
                </div>
                <div class="otherLogin">
                    <div class="tFont">使用其他账号登录RightGO网：</div>
                    <span id="qqLoginBtn"></span>
                    <span id="wb_connect_btn"></span>
                </div>
            </div>
        </div>
        <div id="resultDiv" style="@(User.Identity.IsAuthenticated ? "" : "display:none")">
            <label class="blb">欢迎<a class="userName" href="/User/Details">@(User.Identity.Name)</a>光临Right Go网</label>
            <label class="blb welcome">Welcome Welcome</label>
            <div class="bottom"><label>程序在</label><label class="ticket">3</label><label>秒后跳转至：</label><a class="returnUrl" href="@(urlStr)">@(urlStr)</a></div>
        </div>
    </div>
    <div id="loginTop"></div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerycookie")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/login")

    <!--Other Login-->
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js"
            data-appid="@(System.Configuration.ConfigurationManager.AppSettings["QQAPPID"])"
            data-redirecturi="@(System.Configuration.ConfigurationManager.AppSettings["QQREDIRECTURI"])" charset="utf-8"></script>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=@(System.Configuration.ConfigurationManager.AppSettings["WEIBOAPPKEY"])"
            type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        QC.Login({
            btnId: "qqLoginBtn"	//插入按钮的节点id
        });
        WB2.anyWhere(function (W) {
            W.widget.connectButton({
                id: "wb_connect_btn",
                type: '3,2',
                callback: {
                    login: function (o) {
                        alert(o.screen_name)
                    },
                    logout: function () {
                        alert('logout');
                    }
                }
            });
        });
    </script>

    @if(User.Identity.IsAuthenticated)
    {
        <script type="text/javascript">
            LoginPageView.login.OnFiveSecondsTicket();
        </script>
    }
</body>
</html>
