@using FCStore.Common;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPage</title>
    @Styles.Render("~/Content/loginPage")
</head>
<body>
    <div id="LBDiv"></div>
    <div id="centerDiv">
        <div id="loginDiv" style="@(User.Identity.IsAuthenticated ? "display:none" : "")">
            <form id="loginer" class="ele">
                @if (HttpContext.Current.Session["LPTAG"] != null && int.Parse(HttpContext.Current.Session["LPTAG"].ToString()) != -2)
                {
                    <div class="ltTitle">用户登陆</div>
                    <div class="content UIDDIV">
                        <input id="UIDTB" name="UIDTB" class="enterTB" type="text" data-val="true" data-val-required="必填字段" />
                        <div class="inBox">用户名</div>
                    </div>
                    <div class="content">
                        <input id="PSWTB" name="PSWTB" class="enterTB" type="password" data-val="true" data-val-required="必填字段" data-val-length="密码为6-16位字母或数字" data-val-length-min="6" data-val-length-max="16" />
                        <div class="inBox">密&#12288;码</div>
                    </div>
                    <div class="content ccDiv">                            
                    @if (HttpContext.Current.Session["LPTAG"] != null && int.Parse(HttpContext.Current.Session["LPTAG"].ToString()) == -1)
                    {
                        <input id="checkCodeTB" name="checkCodeTB" class="enterTB" type="text" data-val="true" data-val-required="必填字段" data-val-length="" data-val-length-min="4" data-val-length-max="4" />
                        <div class="inBox">验证码</div>
                        <img class="inBoxIMG" onclick="LoginPageView.login.OnCheckCodeImgClick()" id="ccImg" src="/Home/GetValidateCode" />
                    }
                    </div>
                    <div class="content">
                        <input id="loginBtn" type="submit" value="登陆" />
                    </div>
                    <div class="pullupDiv"></div>
                }
                else if (HttpContext.Current.Session["LPTAG"] != null && int.Parse(HttpContext.Current.Session["LPTAG"].ToString()) == -2)
                {
                    <div id="abnormal">
                        <div>登陆异常，错误次数过多，请等待一段时间重试。</div>
                        <div>
                            等待时间：
                            <label id="waitTime">
                                @(new TimeSpan(0,0,int.Parse(Session["LOGINLOCK"].ToString())).ToString())
                            </label>
                        </div>
                        <div>
                            请返回<a href="/">首页</a>浏览等待。
                        </div>
                    </div>
                }
            </form>
            <div class="other">
                <span id="qqLoginBtn"></span>
                <span id="wb_connect_btn"></span>
            </div>
            <div class="forgot">
                <a>忘记密码</a>
            </div>
            <div class="registerDiv">
                <a id="registerBtn" href="/Home/Register">立即注册账号</a>
            </div>
        </div>
        <div id="resultDiv" style="@(User.Identity.IsAuthenticated ? "" : "display:none")">
            <label class="blb">欢迎<img class="userPhoto" src="@(ViewBag.myUser != null ? ((MyUser)ViewBag.myUser).SmallUserHead : "/picture/user/none.jpg")" /><a class="userName" href="/User/Details">@(User.Identity.Name)</a>光临Right Go网</label>
            <label class="blb welcome">Welcome Welcome</label>            
            @{
                string urlStr = string.IsNullOrEmpty(ViewBag.returnUrl) ? "http://" + HttpContext.Current.Request.Url.Authority + "/Home/Index" : ViewBag.returnUrl;
            }
            <div class="bottom"><label>网站在<span class="ticket">3</span>秒后跳转至：</label></div>
            <div><a class="returnUrl" href="@(urlStr)">@(urlStr)</a></div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerycookie")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/login")

    @if (User.Identity.IsAuthenticated)
    {
        <script type="text/javascript">
            LoginPageView.login.OnFiveSecondsTicket();
        </script>
    }
    <!--Other Login-->
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js"
            data-appid="@(System.Configuration.ConfigurationManager.AppSettings["QQAPPID"])"
            data-redirecturi="@(System.Configuration.ConfigurationManager.AppSettings["QQREDIRECTURI"])" charset="utf-8" ></script>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=@(System.Configuration.ConfigurationManager.AppSettings["WEIBOAPPKEY"])"
            type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" charset="utf-8">
        $(function () {
            //控件验证
            var tmpForm = $("#loginer");
            var validator = tmpForm.validate();
            $.extend(validator.settings, {
                submitHandler: function () {
                    LoginPageView.login.OnLoginBtnClick();
                }
            });
            QC.Login({
                btnId: "qqLoginBtn"	//插入按钮的节点id
            }, LoginPageView.QQLoginSuccess);

            WB2.anyWhere(function (W) {
                W.widget.connectButton({
                    id: "wb_connect_btn",
                    type: '3,2',
                    callback: {
                        login: function (o) {
                            alert(o.screen_name)
                        },
                        logout: function () {
                            alert('logout');
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>
