@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>   
    @Styles.Render("~/Content/loginPage")
</head>
<body>
    <div id="regCDiv">
        <form id="register">
            <div class="ltTitle">用户注册</div>
            <div class="gif">现在注册可立即获得<font color="#cc0000" size="4">100</font>积分</div>
            <div class="inputDiv">
                <div class="title">用户名：</div>
                <div class="value">
                    <input name="UserNameTB" id="UserNameTB" type="text" class="required" />
                </div>  
                <div class="tip" data-valmsg-for="UserNameTB" data-valmsg-replace="true">登陆时使用，少于10位字母或数字</div>

                <div class="title">邮箱：</div>
                <div class="value">
                    <input name="EmailTB" id="EmailTB" type="text" class="email" />
                </div>
                <div class="tip" data-valmsg-for="EmailTB" data-valmsg-replace="true">真实的邮箱地址，登陆时也可使用</div>

                <div class="title">设置密码：</div>
                <div class="value">
                    <input name="PSWTB" id="PSWTB" type="password" class="required" />
                </div>
                <div class="tip" data-valmsg-for="PSWTB" data-valmsg-replace="true">密码为6-16位字母或数字</div>

                <div class="title">确认密码：</div>
                <div class="value">
                    <input name="EPSWTB" id="EPSWTB" type="password" class="equalTo:'#PSWTB'" />
                </div>
                <div class="tip" data-valmsg-for="EPSWTB" data-valmsg-replace="true">密码为6-16位字母或数字</div>

                <div class="title">验证码：</div>
                <div class="ccDiv1">
                    <input id="CheckCodeTB" type="text" />
                </div>
                <div class="ccDiv2">
                    <img onclick="LoginPageView.login.OnCheckCodeImgClick()" id="ccImg" src="/Home/GetValidateCode" />
                    <a href="#" onclick="LoginPageView.register.OnRefreshCCode()">看不清楚，换一张</a>
                </div>
                <div class="btnDiv">
                    <div class="cDiv">
                        <button type="submit" class="registerBtn">同意以下协议，提交注册</button>
                        <button class="resetBtn">重置</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="rightDiv">
            <div class="ltTitle">
                RightGo网会员享受如下服务：
            </div>
            <div class="item">第一时间了解美国潮流资讯</div>
            <div class="item">第一时间获得美国商家打折信息</div>
            <div class="item">足不出户，轻松购遍美国</div>
            <div class="otherLogin">
                <div class="tFont">使用其他账号登录RightGO网：</div>
                <span id="qqLoginBtn"></span>
                <span id="wb_connect_btn"></span>
            </div>
        </div>
        <div class="agreement">
            <div class="ltTitle">RightGO网用户协议</div>
                @{
                    //从文件加载
                    string tmpFPath = Server.MapPath("~/agreement.txt");
                    string content = "";
                    FileInfo tmpFI = new FileInfo(tmpFPath);
                    if (File.Exists(tmpFPath))
                    {
                        FileStream tmpFS = File.OpenRead(tmpFPath);
                        byte[] tmpBuf = new byte[tmpFS.Length];
                        tmpFS.Read(tmpBuf, 0, (int)(tmpFS.Length));
                        content = System.Text.Encoding.Unicode.GetString(tmpBuf);
                    }
                }
                <div class="content">
                    @(content)
                </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/login")

    <!--Other Login-->
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js"
            data-appid="@(System.Configuration.ConfigurationManager.AppSettings["QQAPPID"])"
            data-redirecturi="@(System.Configuration.ConfigurationManager.AppSettings["QQREDIRECTURI"])" charset="utf-8"></script>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=@(System.Configuration.ConfigurationManager.AppSettings["WEIBOAPPKEY"])"
            type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        QC.Login({
            btnId: "qqLoginBtn"	//插入按钮的节点id
        });
        WB2.anyWhere(function (W) {
            W.widget.connectButton({
                id: "wb_connect_btn",
                type: '3,2',
                callback: {
                    login: function (o) {
                        alert(o.screen_name)
                    },
                    logout: function () {
                        alert('logout');
                    }
                }
            });
        });
        $(function () {
            var tmpForm = $("#register");
            var validator = tmpForm.validate();
            validator.settings.submitHandler = function () {
                LoginPageView.register.OnRegisterBtnClick();
            }
            tmpForm.find(".resetBtn").click(function (ev) {
                validator.resetForm();
            });
        });
    </script>
</body>
</html>
