@model FCStore.Models.UserDetailsVM
@using FCStore.Models;

@{
    ViewBag.Title = "Details";
}

<div class="mapDiv">
    <div>当前位置：</div>
    <div><a href="/Home/Index">首页</a></div>
    <div>></div>
    <div>个人信息中心</div>
</div>
<div id="userInfo">
    <div class="info">
        <img class="headImg" src="@(Model.User.HeadPictureFilePath)" onerror="javascript:this.src='/picture/user/NoPicture_40_40.png';" />
        <div class="nameDiv">
            <label class="title">名称：</label>
            <label class="value">@(Model.User.UserName)</label>
        </div>
        <div class="phoneDiv">
            <label class="title">电话：</label>
            <label class="value">@(Model.User.Phone)</label>
        </div>
        <div class="emailDiv">
            <label class="title">邮箱：</label>
            <label class="value">@(Model.User.Email)</label>
        </div>
        <div class="roleDiv">
            <label class="title">身份：</label>
            <label class="value">
                @foreach (Role role in Model.User.Roles)
                {
                    <img src="/Content/themes/image/@(role.RoleName).png" />
                }
            </label>
        </div>
        <div class="giftDiv">
            <label class="title">积分：</label>
            <label class="value">@(Model.User.Gift)</label>
        </div>
        <div class="perDiv">
            <label class="title">权利：</label>
            <label class="value">
                @if (Model.User.PermissionTag != null && Model.User.PermissionTag.Length > 0)
                {
                    foreach (string perStr in Model.User.PermissionTag)
                    {
                        <img src="/Content/themes/image/@(perStr).png" />
                    }
                }
            </label>
        </div>
    </div>
    <div class="rightDiv">
        <div class="title">联系地址：</div>
        <div class="addresses">
            @foreach (Address add in Model.User.Addresses)
            {
                <div class="item">
                    <label class="title">联系电话：</label>
                    <label class="value">@(add.Phone)</label>
                    <label class="title">收货地址：</label>
                    <label class="value">@(add.AddressName)</label>
                    <div class="pullupDiv"></div>
                </div>
            }
        </div>
    </div>
    <div class="pullupDiv"></div>
</div>
<div id="productList">
    <div class="recent">
        <div class="title">最近浏览：</div>
        <div>
            @foreach (RecentView rv in Model.RecentViewArr)
            {
                <div class="item">
                    <a href="@("Product/Details/" + rv.Product.PID)">
                        <div class="imgDiv">
                            <img src="@(rv.Product.ImgPathArr.First())" />
                        </div>
                        <div class="titleDiv">
                            @(rv.Product.Title)
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="recommend">
        <div class="title">推荐商品：</div>
        <div>
            @foreach (PushInfo pi in Model.PushInfoArr)
            {
                <div class="item">
                    <a href="@("Product/Details/" + pi.Product.PID)">
                        <div class="imgDiv">
                            <img src="@(pi.Product.ImgPathArr.First())" />
                        </div>
                        <div class="titleDiv">
                            @(pi.Product.Title)
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="pullupDiv"></div>
</div>
<div id="orderList">
    <div class="title">订单跟踪：</div>
    <div>
        @foreach (Order order in Model.OrderArr)
        {
            <div class="item">

            </div>
        }
    </div>
</div>
