@model FCStore.Models.Role

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Role</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Level)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Level)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Permission)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Permission)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
