@model FCStore.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Product</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category.NameStr)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.NameStr)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Brand.NameStr)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Brand.NameStr)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Chose)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Chose)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MarketPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MarketPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Discount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Discount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Stock)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Stock)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sale)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sale)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImgPath)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImgPath)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descript)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descript)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tag)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
