@model FCStore.Models.ProductListVM

@{
    ViewBag.Title = "ListByCategory";
}
<div id="categoryNav">
    <div>商品类别：</div>
    @{
        FCStore.Models.Category tmpCate = Model.Category;
        int CID = -1;
        string htmlStr = "";
        while (CID != tmpCate.CID)
        {
            htmlStr = "<div><a href=\"/Product/ListByCategory/" + tmpCate.CID + "\">" + tmpCate.NameStr + "</a></div><div>></div>" + htmlStr;
            CID = tmpCate.CID;
            tmpCate = tmpCate.Parent;
        }
        IHtmlString html = new HtmlString(htmlStr);
        @html
    }
    <div>商品列表</div>
</div>
<div class="brandFilter">
    <div class="title">
        品牌：
    </div>
    <div id="plBrands" class="content">
        @foreach (var item in Model.Brands)
        {
            <div class="item">
                <label>
                    <input @((ViewBag.chkBrands != null && ViewBag.chkBrands.Contains(item.BID)) ? "checked=\"checked\"" : "" ) class="brandCB" type="checkbox" value="@(item.BID)" />
                    @(item.NameStr)/@(item.Name2)
                </label>
            </div>
        }
    </div>
    <div class="btn">
        <button onclick="ProductList.getProductListByCategory(1);">确定</button>
        @if(Model.Brands.Count > 16)
        {
            <button class="most">更多</button>
        }
    </div>
    <div class="pullupDiv"></div>
</div>
<div id="plTool" class="tool">
    <label>排序方式：</label>
    @{
        string OTStr = ViewBag.OrderType ? "asc" : "desc";
    }
    <a onclick="ProductList.onByCategoryOrderClick(this)" class="orderTag @(ViewBag.Order == 0 ? OTStr : "")">新品</a>
    <a onclick="ProductList.onByCategoryOrderClick(this)" class="orderTag @(ViewBag.Order == 1 ? OTStr : "")">畅销</a>
    <a onclick="ProductList.onByCategoryOrderClick(this)" class="orderTag @(ViewBag.Order == 2 ? OTStr : "")">价格</a>
    <a onclick="ProductList.onByCategoryOrderClick(this)" class="orderTag @(ViewBag.Order == 3 ? OTStr : "")">浏览量</a>
</div>
<div id="plDiv" class="productList">
    @foreach (FCStore.Models.Product item in Model.Products)
    {
        <div class="item">
            <a href="/Product/Detail/@(item.PID)">
                <div class="img">
                    <img src="@((item.ImgPathArr != null && item.ImgPathArr.Length > 1) ? item.ImgPathArr[0] : "")" />
                </div>
                <div class="title">
                    @(item.Title)
                </div>
                <div class="marketPrice">
                    市场价：<label>￥@(item.MarketPrice)</label>
                </div>
                <div class="price">
                    代购价：<label>￥@(item.Price)</label>
                </div>
            </a>
        </div>
    }
        <div class="pullupDiv"></div>
</div>
<div class="btool">
    <div class="page">
        <span class="pIndexItem">
            <a class="pItem fpItem @(Model.PageIndex == 1 ? "gray" : "")" @(Model.PageIndex == 1 ? "" : "href=\"/Product/ListByCategory/" + Model.Category.CID + "/" + (Model.PageIndex - 1) + "\"") onclick="@(Model.PageIndex == 1 ? "" : "ProductList.onByCategoryPageClick(-2); return false;")">上一页</a>
            @{
                if (Model.PageIndex >= 1)
                {
                    <a class="pItem @(Model.PageIndex == 1 ? "in" : "")" href="/Product/ListByCategory/@(Model.Category.CID)/1" onclick="ProductList.onByCategoryPageClick(1); return false;">1</a>
                }
                if (Model.PageIndex >= 2)
                {
                    <a class="pItem @(Model.PageIndex == 2 ? "in" : "")" href="/Product/ListByCategory/@(Model.Category.CID)/2" onclick="ProductList.onByCategoryPageClick(2); return false;">2</a>
                }
                if (Model.PageIndex - (Model.PageCount - Model.PageIndex > 2 ? 0 : Model.PageCount - Model.PageIndex) - 3 > 2)
                {
                    <label>...</label>
                }
                int tmpC = 5;
                int tmpPI = 1;
                if (Model.PageIndex <= 2)
                {
                    tmpC = Math.Min(5 - Model.PageIndex, Model.PageCount - Model.PageIndex);
                    tmpPI = Model.PageIndex + 1;
                }
                else
                {
                    tmpPI = Math.Max(Math.Min(Model.PageIndex - 2, Model.PageCount - 4), 3);
                    tmpC = Math.Min(5, Model.PageCount - tmpPI + 1);
                }
                for (int i = 0; i < tmpC; i++)
                {
                    <a class="pItem @(Model.PageIndex == tmpPI + i ? "in" : "")" href="/Product/ListByCategory/@(Model.Category.CID)/@(tmpPI + i)" onclick="ProductList.onByCategoryPageClick(@(tmpPI + i)); return false;">@(tmpPI + i)</a>
                }
            }
            <a class="pItem lpItem @(Model.PageIndex == Model.PageCount ? "gray" : "")" @(Model.PageIndex == Model.PageCount ? "" : "href=\"/Product/ListByCategory/" + Model.Category.CID + "/" + (Model.PageIndex + 1) + "\"") onclick="@(Model.PageIndex == Model.PageCount ? "" : "ProductList.onByCategoryPageClick(-1); return false;")">下一页</a>
        </span>
        <span class="pText">
            共<label class="PCLabel">@(Model.PageCount)页</label>
            <label class="goLB">到第<input id="GoPIInput" type="text" value="@(Model.PageIndex)" />页</label>
            <button onclick="var PI = $('#GoPIInput').val(); ProductList.onByCategoryPageClick(PI); return false;">确定</button>
        </span>
    </div>
</div>