@model FCStore.Models.ProductListVM

@{
    ViewBag.Title = "ListByCategory";
}
<div id="categoryNav">
    <div>货品类别：</div>
    @{
        FCStore.Models.Category tmpCate = Model.Category;
        int CID = -1;
        string htmlStr = "";
        while (CID != tmpCate.CID)
        {
            htmlStr = "<div><a href=\"/Product/ListByCategory/" + tmpCate.CID + "\">" + tmpCate.NameStr + "</a></div><div>></div>" + htmlStr;
            CID = tmpCate.CID;
            tmpCate = tmpCate.Parent;
        }
        IHtmlString html = new HtmlString(htmlStr);
        @html
    }
    <div>商品列表</div>
</div>
<div class="brandFilter">
    <div class="title">
        品牌：
    </div>
    <div class="content">
        @foreach (var item in Model.Brands)
        {
            <div class="item">
                <label>
                    <input type="checkbox" value="@(item.BID)" />
                    @(item.NameStr)/@(item.Name2)
                </label>
            </div>
        }
    </div>
    <div class="btn">
        <button>确定</button>
        @if(Model.Brands.Count > 16)
        {
            <button class="most">更多</button>
        }
    </div>
    <div class="pullupDiv"></div>
</div>
<div class="productList">
    <div class="tool">
        <label>排序方式：</label>
        <a>新品</a>
        <a>畅销</a>
        <a>价格</a>
        <a>浏览量</a>
        <div class="page">
            <a>第一页</a>
            <a>上一页</a>
            <label>
                @(Model.PageIndex)/@(Model.PageCount)
            </label>
            <a>下一页</a>
            <a>最后一页</a>
        </div>
    </div>
    @if (Model.Products.Count() > 0)
    {
        foreach (var item in Model.Products)
        {
            <div class="item">
                <a href="Product/Detail/@(item.PID)">
                    <div class="img">
                        <img src="@(item.ImgPathArr[0])" />
                    </div>
                    <div class="title">
                        @(item.Title)
                    </div>
                    <div class="marketPrice">
                        市场价：<label>￥@(item.MarketPrice)</label>
                    </div>
                    <div class="price">
                        代购价：<label>￥@(item.Price)</label>
                    </div>
                </a>
            </div>
        }
        <div class="pullupDiv"></div>
    }
    <div class="btool">
        <label>排序方式：</label>
        <a>新品</a>
        <a>畅销</a>
        <a>价格</a>
        <a>浏览量</a>
        <div class="page">
            <a>第一页</a>
            <a>上一页</a>
            <label>                
                @(Model.PageIndex)/@(Model.PageCount)
            </label>
            <a>下一页</a>
            <a>最后一页</a>
        </div>
    </div>
</div>