@model FCStore.Models.ProductListVM

@{
    ViewBag.Title = "ListByBrand";
}
<div id="categoryNav">
    <div>商品类别：</div>
    @{
        FCStore.Models.Brand tmpBrand = Model.Brand;
        IHtmlString html = new HtmlString("<div>" + tmpBrand.NameStr + "</div><div>></div>");
        @html
    }
    <div>商品列表</div>
</div>
<div>
    <div class="brandShow">
        <div class="title">
            品牌：
        </div>
        <div class="content">
            <div>
                <img class="brandImg" src="/Brand/@(tmpBrand.Tag).jpg" />
            </div>
            <div class="brandName">@(tmpBrand.NameStr)/@(tmpBrand.Name2)</div>
        </div>
        <div class="pullupDiv"></div>
    </div>
</div>
<div id="plTool" class="tool">
    <label>排序方式：</label>
    @{
        string OTStr = ViewBag.OrderType ? "asc" : "desc";
    }
    <a onclick="ProductList.onOrderClick(this)" class="orderTag @(ViewBag.Order == 0 ? OTStr : "")">新品</a>
    <a onclick="ProductList.onOrderClick(this)" class="orderTag @(ViewBag.Order == 1 ? OTStr : "")">畅销</a>
    <a onclick="ProductList.onOrderClick(this)" class="orderTag @(ViewBag.Order == 2 ? OTStr : "")">价格</a>
    <a onclick="ProductList.onOrderClick(this)" class="orderTag @(ViewBag.Order == 3 ? OTStr : "")">浏览量</a>
    <div class="page">
        @if (Model.PageIndex != 1)
{
    <a onclick="ProductList.getProductList(1)">第一页</a>
    <a onclick ="ProductList.getProductList(this)">上一页</a>
}
        <label>
            @(Model.PageIndex)/@(Model.PageCount)
        </label>
        @if (Model.PageIndex != Model.PageCount)
        {
            <a>下一页</a>
            <a>最后一页</a>
        }
    </div>
</div>
<div id="plDiv" class="productList">
    @foreach (FCStore.Models.Product item in Model.Products)
    {
        <div class="item">
            <a href="Product/Detail/@(item.PID)">
                <div class="img">
                    <img src="@(item.ImgPathArr[0])" />
                </div>
                <div class="title">
                    @(item.Title)
                </div>
                <div class="marketPrice">
                    市场价：<label>￥@(item.MarketPrice)</label>
                </div>
                <div class="price">
                    代购价：<label>￥@(item.Price)</label>
                </div>
            </a>
        </div>
    }
    <div class="pullupDiv"></div>
</div>
<div class="btool">
    <div class="page">
        @if (Model.PageIndex != 1)
        {
            <a>第一页</a>
            <a>上一页</a>
        }
        <label>
            @(Model.PageIndex)/@(Model.PageCount)
        </label>
        @if (Model.PageIndex != Model.PageCount)
        {
            <a>下一页</a>
            <a>最后一页</a>
        }
    </div>
</div>