@model IEnumerable<FCStore.Models.Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductsSelect</title>     
    @Styles.Render("~/Content/themes/base/css")   
    @Styles.Render("~/Manager/css")
    @Styles.Render("~/UploadFile/css")
    @Styles.Render("~/ZTree/css")
</head>
<body>
    <div id="PSMain">
        <div class="left">
            <div class="btnDiv">
                
            </div>
            <div id="selDiv">
            </div>
        </div>
        <div class="categoryLST">
            <ul id="categoryTree" class="ztree"></ul>
        </div>
        <div class="right">
            <div class="toolbar">
                <div class="orderDiv" id="orderDiv">
                    <label>排序方式：</label>
                    <a class="orderTag" onclick="ProductManager.OnOrderTagClick(this)" data-tag="Date">新品</a>
                    <a class="orderTag" onclick="ProductManager.OnOrderTagClick(this)" data-tag="Sale">畅销</a>
                    <a class="orderTag" onclick="ProductManager.OnOrderTagClick(this)" data-tag="Price">价格</a>
                    <a class="orderTag" onclick="ProductManager.OnOrderTagClick(this)" data-tag="Discount">折扣</a>
                    <a class="orderTag" onclick="ProductManager.OnOrderTagClick(this)" data-tag="PVCount">浏览量</a>
                </div>
                <div class="whereDiv">
                    条件：
                    <input id="whereInput" type="text" />
                    <input id="refreshBtn" class="sbtn1" type="button" value="刷新" />
                </div>
            </div>
            <div id="plDiv">
                @foreach (FCStore.Models.Product item in Model)
                {
                    <div class="item" data-pid="@(item.PID)">
                        <div class="img">
                            <img src="@(item.ImgPathArr[0])" />
                        </div>
                        <div class="title" title="@(item.Title)">
                            @(item.Title)
                        </div>
                        <div class="p60">
                            市价：￥<label class="marketPrice">@(item.MarketPrice)</label>
                        </div>
                        <div class="p40">
                            折扣：<label class="discount">@(item.Discount)</label>%
                        </div>
                        <div class="p60">
                            现价：￥<label class="price">@(item.Price)</label>
                        </div>
                        <div class="p40">
                            已售：<label class="sale">@(item.Sale)</label>
                        </div>
                        <div class="p60">
                            存货：<label class="stock">@(item.Stock)</label>
                        </div>
                        <div class="p40">
                            浏览：<label class="pvcount">@(item.PVCount)</label>
                        </div>
                        <div class="p1">
                            创建时间：<label class="date">@(item.Date)</label>
                            <a class="detailA" href="/Product/EditDetail/@(item.PID)">详细</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/UploadFile/js")
    @Scripts.Render("~/Manager/js")
    @Scripts.Render("~/ZTree/js")
    <script type="text/javascript" charset="utf-8">
        $(function () {
            //初始化Order组件
            var orderStr = "Date,DESC";
            var pathName = window.location.pathname;
            var parArr = pathName.split('/');
            if (parArr.length >= 7) {
                orderStr = parArr[7];
            }
            var orderTagArr = $("#orderDiv .orderTag");
            var OIArr = orderStr.split(";");
            $.each(OIArr, function (i, n) {
                var orderItem = n.split(",");
                switch (orderItem[0]) {
                    case "Date": {
                        $(orderTagArr[0]).addClass(orderItem[1]);
                        break;
                    }
                    case "Sale": {
                        $(orderTagArr[1]).addClass(orderItem[1]);
                        break;
                    }
                    case "Price": {
                        $(orderTagArr[2]).addClass(orderItem[1]);
                        break;
                    }
                    case "Discount": {
                        $(orderTagArr[3]).addClass(orderItem[1]);
                        break;
                    }
                    case "PVCount": {
                        $(orderTagArr[4]).addClass(orderItem[1]);
                        break;
                    }
                }
            });

            //加载树控件
            $.myAjax({
                historyTag: false,
                loadEle: $("#PSMain .categoryLST"),
                url: "/Category/GetTreeNodes",
                data: null,
                dataType: "json",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                success: function (data, status, options) {
                    var setting = {
                        check: {
                            enable: true
                        },
                        data: {
                            key: {
                                name: "NameStr"
                            },
                            simpleData: {
                                enable: true,
                                idKey: "CID",
                                pIdKey: "ParCID",
                            }
                        },
                        callback: {
                            onCheck: function (event, treeId, treeNode) {
                                if (treeNode.level == 0) {
                                    //父节点
                                    ProductManager.selTag = !treeNode.checked;
                                }
                                ProductManager.updateArr();
                            }
                        }
                    };
                    if (data.content != null) {
                        $.fn.zTree.init($("#categoryTree"), setting, data.content);
                        ProductManager.treeObj = $.fn.zTree.getZTreeObj("categoryTree");
                        ProductManager.treeObj.expandAll(true);
                        ProductManager.treeObj.checkAllNodes(true);
                    }
                }
            });
            //增加页面滚动事件
            $("#plDiv").myScrollDown({
                downDis: 1000,
                doingCB: ProductManager.updateProductsLST,
                doingPar: true
            });

            $("#refreshBtn").on("click", function (ev) {
                ProductManager.updateProductsLST();
            });

            $("#plDiv").on("click", ".item", ProductManager.OnProductItemClick);
            $(".categoryLST").on("click", ".chk", ProductManager.onCategoryChkClick);

            if (parArr.length < 5 || parArr[3] == "-1") {
                $("<ul>" +
                    "<li>" +
                        "<input id='backBtn' class='sbtn1' type='button' value='返回' />" +
                    "</li>" +
                    "<li>" +
                        "<input id='saveBtn' class='sbtn2' type='button' value='保存' />" +
                    "</li>" +
                    "<li>" +
                        "<input id='refreshBtn' class='sbtn3' type='button' value='刷新' />" +
                    "</li>" +
                    "<li>" +
                        "<input id='addProductBtn' class='sbtn2' type='button' value='增加' />" +
                    "</li>" +
                    "<li>" +
                        "<input id='delProductBtn' class='sbtn3' type='button' value='删除' />" +
                    "</li>" +
                    "<li>" +
                        "<input id='showProductBtn' class='sbtn1' type='button' value='显示' />" +
                    "</li>" +
                    "<li>" +
                        "<input id='hideProductBtn' class='sbtn3' type='button' value='隐藏' />" +
                    "</li>" +
                    "<li>" +
                        "<input id='importProductBtn' class='sbtn2' type='button' value='导入Excel' />" +
                    "</li>" +
                    "<li>" +
                        "<input id='exportProductBtn' class='sbtn3' type='button' value='导出Excel' />" +
                    "</li>" +
                "</ul>").appendTo($("#PSMain .btnDiv"));
                $("#backBtn").on("click", ProductManager.OnBackBtnClick);
                $("#saveBtn").on("click", ProductManager.OnSaveBtnClick);
                $("#refreshBtn").on("click", ProductManager.OnRefreshBtnClick);

                $("#addProductBtn").on("click", ProductManager.OnAddProductBtnClick);
                $("#delProductBtn").on("click", ProductManager.OnDelProductBtnClick);
                $("#showProductBtn").on("click", ProductManager.OnShowProductBtnClick);
                $("#hideProductBtn").on("click", ProductManager.OnHideProductBtnClick);
                $("#importProductBtn").on("click", ProductManager.OnImportProductBtnClick);
                $("#exportProductBtn").on("click", ProductManager.OnExportProductBtnClick);

                $("#selDiv").on("change", ".price input", ProductManager.AutoCalculateDiscount);
                $("#selDiv").on("change", ".marketPrice input", ProductManager.AutoCalculateDiscount);
            }
            else if (parArr[3] == "0") {
                $("<ul>" +
                    "<li>" +
                        "<input id='upBtn' class='gray sbtngray' type='button' value='上移' />" +
                    "</li>" +
                    "<li>" +
                        "<input id='downBtn' class='gray sbtngray' type='button' value='下移' />" +
                    "</li>" +
                    "<li>" +
                        "<input id='delBtn' class='gray sbtngray' type='button' value='删除' />" +
                    "</li>" +
                    "<li>" +
                        "<input id='backBtn' class='sbtn1' type='button' value='返回' />" +
                    "</li>" +
                    "<li>" +
                        "<input id='saveBtn' class='sbtn2' type='button' value='保存' />" +
                    "</li>" +
                    "<li>" +
                        "<input id='refreshSelBtn' class='sbtn3' type='button' value='刷新' />" +
                    "</li>" +
                "</ul>" +
                "<div class='title'><label><input id='checkAll' type='checkbox' />全选</label>已选商品：</div>")
                    .appendTo($("#PSMain .btnDiv"));

                ProductManager.updateSelProducts();
                $("#checkAll").checkAll(null, "#selDiv .item .productCB");
                $("#selDiv").on("change", ".productCB", ProductManager.OnSelItemCBChange);
                $("#selDiv").on("click", ".item", ProductManager.OnSelItemClick);

                $("#backBtn").on("click", ProductManager.OnBackBtnClick);
                $("#saveBtn").on("click", ProductManager.OnSaveSelBtnClick);
                $("#refreshSelBtn").on("click", ProductManager.OnRefreshSelBtnClick);
            }

        });
</script>
</body>
</html>
